div.font-size {
  font-size: large 18px;
}
.tieude {

  background-color: rgb(0, 149, 255);
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
div.p.cangiua {
  text-align: center;
}
img.text-align {
  text-align: center;
}
div.bodaugach {
  text-decoration: none;
}
p.cangiua {
  text-align: center;
}
p.chuto{
    font-size:large 100%;
}